* {
  box-sizing: border-box;
}
#backG {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
} 
img#backG {
    z-index: -1;
}
#headerImg {
  width: 18vw;
  height: 22vh;
}
#logoImg {
  max-width: 100%;
  max-height: 100%;
}
nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 18vw;
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
  opacity: 0.9;
}
.navtext {
  height: 100%;
  color: black;
}
a {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2vh;
  width: 18vw;
  height: 7vh;
  border-radius: 3px;
  border: 1px solid #182932;
  box-shadow: 1px 1px 5px 1px #182932;
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
}
.hoverover {
  background-color: #b3cdd1;

}
.glyphicon {
  height: 7vh;
  padding: 2vh;
  border: 1px solid #182932;
  box-shadow: inset 0 0 7px 1px #083048;
  margin-top: -2px;
}
.footer {
  position: absolute;
  bottom: 0;
  margin: 0px 0px 10px 10px;
}
#maincontentbox {
  position: absolute;
}
.maincontent {
  position: absolute;
  background-color: #7fcec5;
  background-image: linear-gradient(315deg, #7fcec5 0%, #14557b 74%);
  opacity: 0.8;
  display: flex;
  margin-left: 20vw;
  width: 78vw;
  height: 90vh;
  margin-top: 5vh;
}
.snipHead {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  width: 100%;
}
.snipP {
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
  width: 100%;
}
.snipHead h1 {
  opacity: 1;
  color: black;
}
.snipP p {
  opacity: 1;
  color: black;
}

