* {
  box-sizing: border-box;
}


ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
} 
header {
  text-align: center;
  background-color: #588DA5;
  margin-top: 0px;
  padding: 10px;
  box-shadow: 1px 1px 5px 1px black;
}
header h1 {
  margin: 0px;
  font-family: 'Libre Franklin', sans-serif;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 15vw;
  background-color: #588DA5;
}
.navtext {
  padding-top: 12vh;
  color: black;
}
a {
  display: flex;
  justify-content: center;
  padding-top: 0vh;
  text-decoration: none;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 17px;
  height: 25vh;
  width: 15vw;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1px black;
}

