ul {
  list-style: none;
} 
header {
display: flex;
border: 1px solid black;
text-align: center;
}
nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}
nav-link {
  border: 1px solid black
}